<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Jared Ward</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="static/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Bilbo+Swash+Caps|Montserrat|Quicksand|Tangerine" rel="stylesheet">
  </head>
  <body>
    <div class="top-container">
      <img class="top-cloud" src="static/images/cloud.png" alt="cloud-img">
      <h1>I'm iLL.</h1>
      <h2>an <span class="art">art</span>ist.</h2>
      <img class="bottom-cloud" src="static/images/cloud.png" alt="cloud-img">
      <img src="static/images/mountain.png" alt="mountain-img">
    </div>
    <div class="middle-container">
      <div class="profile">
        <img class="avatar" src="static/images/JaredCirc.png" alt="iLLusion-img">
        <h2>What's up?</h2>
        <p>I'm iLLusion, iLL for short. I am the CEO and Co-founder of TruFate Records. I am also a recording artist. Look me up on iTunes, Spotify or YouTube!</p>
      </div>
      <hr>
      <div class="skills">
        <h2>My Skills.</h2>
        <div class="skill-row">
          <img class="studio-img" src="static/images/studio.png" alt="microphone-img">
          <h3>Song Writing & Recording</h3>
          <p>My specialty is selecting the perfect words for a melody. Weather it's starting from scratch or helping you complete the final stages, I'll make sure you have a radio-ready finished product! Need studio time to record? I got you covered there too!</p>
        </div>
        <div class="skill-row">
          <img class="album-img" src="static/images/record.png" alt="album-img">
          <h3>Website & Album Art Design</h3>
          <p>Need a fresh look to go with a hit song? How about a site for booking, merchandise, and news? I've got you covered from graphic design to domain hosting!</p>
        </div>
      </div>
      <hr>
      <div class="contact-me">
        <h2>Get In Touch</h2>
        <h3>Need services or want to book me for show?</h3>
        <p>Click the links below to get in contact with me !</p>
        <div>
          <a class="butn" href="mailto:illusionmusic916@gmail.com">CONTACT ME</a>
        </div>
      </div>
    </div>


    <div class="bottom-container">
      <a class="footer-link" href="https://www.instagram.com/illusion_mc/">Instagram</a>
      <a class="footer-link" href="https://www.facebook.com/iLLusion916/">Facebook</a>
      <a class="footer-link" href="https://www.illmusic916.com/">illmusic916.com</a>
      <p class="copyright">© 2018 Jared Ward</p>
      <p class="credit">Icons made by <a href="https://www.flaticon.com/authors/smalllikeart" title="smalllikeart">smalllikeart</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a><br>
           Icons made by <a href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a> from <a href="https://www.flaticon.com/" 			    title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 			    title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>

  </body>
</html>
