<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>iLL Codes by Jared</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.ico" rel="icon">
  <link href="static/assets//img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets//vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets//vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets//vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets//vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets//vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets//img/logo.png" alt=""> -->
        <h1 class="sitename">Clear iLLusions</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home<br></a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#Services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="static/assets//img/hero-img.png" alt="" data-aos="fade-in">

      <div class="container d-flex flex-column align-items-center justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
        <h2>I am Jared Ward</h2>
        <p><span class="typed" data-typed-items="Designer, Developer, Problem Solver, Dreamer."></span></p>
      </div>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
          <div class="col-md-6">

            <div class="row justify-content-between gy-4">
              <div class="col-lg-5">
                <img src="static/assets//img/profile-img.png" class="img-fluid" alt="">
              </div>
              <div class="col-lg-7 about-info">
                <p></p>
                <br>
                <p><strong>Name: </strong> <span>Jared Ward</span></p>
                <p><strong>Profile: </strong> <span>Front End, Back End, Python Developer</span></p>
                <p><strong>Email: </strong> <span>jared_ward@icloud.com</span></p>
                <p><strong>Phone: </strong> <span>(916) 668-0654</span></p>
              </div>
            </div>

            <div class="skills-content skills-animation">

              <h5>Skills</h5>

              <div class="progress">
                <span class="skill"><span>HTML</span> <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Python</span> <i class="val">90%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Business Intelligence</span> <i class="val">75%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>Project Management</span> <i class="val">65%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                       aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->

              <div class="progress">
                <span class="skill"><span>JavaScript</span> <i class="val">55%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div><!-- End Skills Item -->


            </div>
          </div>

          <div class="col-md-6">
            <div class="about-me">
              <h4>About me</h4>
              <p>Hello! I'm a self-taught web developer with a knack for solving complex problems through
                innovative programming and a collaborative spirit. My journey into web development began as a
                personal passion and quickly evolved into a career where I've been able to save large
                companies significant time and resources through my programming skills and people-oriented
                approach.
              </p>
              <p>With a background in web development, I specialize in creating efficient, user-friendly applications
                that streamline processes and enhance user experiences. My hands-on experience includes working with
                diverse teams to deliver projects that have saved hundreds of thousands of dollars for clients by
                optimizing workflows and automating repetitive tasks.
              </p>
              <p>Beyond my professional achievements, I'm a dedicated family man who finds joy in all things creative.
                I have a deep love for music and enjoy creating it in my free time. This passion for creativity is what
                drives me to think outside the box and continually refine my craft.
              </p>
              <p>If you're looking for a developer who is as passionate about your project as you are and can bring
                both technical expertise and a human touch to the table, let’s connect. I’m excited about the
                possibility of working together to bring your ideas to life.</p>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Resume Section -->
    <section id="resume" class="resume section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Resume</h2>
        <p>A brief list of some of my experiences and accomplishments.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Summary</h3>

            <div class="resume-item pb-0">
              <h4>Jared Ward</h4>
              <p><em>I am a Junior Web and Python Developer with a diverse background in tech sales, IT, and
                industrial manufacturing. I have a strong skill set in tools like Bootstrap5, Flask, and SQLAlchemy,
                and have successfully developed solutions such as a custom CMMS and a training curriculum platform.
                With certifications in Lean Six Sigma and web development, I bring a problem-solving mindset, a
                commitment to continuous learning, and a passion for turning client visions into efficient, creative
                solutions. I thrive in team environments and am eager to contribute to impactful projects.</em></p>
              <ul>
                <li>6891 Steamboat Way, Sacramento CA 95831</li>
                <li>(916) 668-0654</li>
                <li>jared_ward@icloud.com</li>
              </ul>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Certifications</h3>
            <div class="resume-item">
              <h4>Lean Six Sigma Yellow Belt</h4>
              <h5>Issued September 2019</h5>
              <p><em>Business Process Excellence</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Cause Mapping and Root Cause Analysis</h4>
              <h5>Issued June 2024</h5>
              <p><em>Think Reliability, IACET</em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>The Complete Python Pro Bootcamp</h4>
              <h5>Issued September 2024</h5>
              <p><em>The App Brewery, Udemy</em></p>
            </div><!-- Edn Resume Item -->

            <h3 class="resume-title">Additional Skills</h3>
            <p>X-Script & other programming languages, Analytics & Data building, System Administration,
              Module design, development and implementation, Curriculum development & delivery, Leadership & Success
              principles, Microsoft Office/365, VBA Script & Macros, Data Migration, Active Directory, GoogleCloud,
              Slack, GitHub, KanBan, Agile Methodology.
            </p>
            <h3 class="resume-title">Current Experience</h3>
            <div class="resume-item">
              <h4>Business Systems Analyst, II</h4>
              <h5>2022 - Present</h5>
              <p><em>Enviro Tech, an Arxada Company, Modesto, CA </em></p>
              <ul>
                <li>Engineered and launched a computerized Global Maintenance System (CMMS) for 5 sites globally.</li>
                <li>Designed and implemented a Management of Change system in Intelex, utilized by 15 sites.</li>
                <li>Created and maintained global reports and dashboards via Intelex, Excel, Seeq, and Power BI,
                  increasing system user engagement by 235% between Q3 2022 and Q1 2023.</li>
                <li>Automated label updates by creating a Python script that searched through Word documents,
                  updated outdated information, and saved new versions, reducing manual work by approximately 80 hours.</li>
                <li>Developed a user-friendly SafeWork permit system for safety-critical assets and integrated
                  systems to enhance EHS Incident Management, documenting 160 incidents and 100 corrective actions.</li>
              </ul>
            </div><!-- Edn Resume Item -->


          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Information Technology L1 Technician</h4>
              <h5>2021 - 2022</h5>
              <p><em>Uber HQ (Milestone Technologies), San Francisco, CA</em></p>
              <ul>
                <li>Support 30k global and local corporate (including executives) end-users via Jira, ServiceNow,
                  Slack, Zoom and first response for escalations at Uber HQ.</li>
                <li>Maintained and developed Help Desk appointment booking system utilizing Active Directory & GoogleApp
                  Script.</li>
                <li>Recommended and consulted with clients on the most appropriate graphic design</li>
                <li>Created 4+ design presentations and proposals a month for clients and account managers</li>
              </ul>
            </div><!-- Edn Resume Item -->

              <div class="resume-item">
              <h4>Telus International</h4>
              <h5>Folsom, CA</h5>
              <h5>March 2018 - 2021</h5>
              <p><em>Ad Moderation Team Manager - TikTok/ByteDance (Contract duration 2020-2021)</em></p>
              <ul>
                <li>Developed and managed the only revenue-generating Specially TCM queue, enhancing operational
                  efficiency and profitability.</li>
                <li>Led the creation of a knowledge database, policies, and tools for a specialized moderation group,
                  improving team resources and performance.</li>
                <li>Introduced an audit appeal program that increased accuracy in audit and quality scores.</li>
                <li>Trained team members in Agile project management, supporting internal development and
                  talent growth.</li>
              </ul>
                <p><em>Trainer / Quality Lead, - Google Virtual Consultations (Contract duration 2018-2021)</em></p>
              <ul>
                <li>Developed and delivered comprehensive training programs using advanced learning techniques,
                  enhancing team proficiency and performance.</li>
                <li>Collaborated with the Project Lead to establish policies, procedures, and a CRM system, ensuring
                  seamless program execution.</li>
                <li>Successfully launched a Virtual Consultation team in El Salvador, training advisors, Customer
                  Experience Analysts, Team Managers, and Trainers.</li>
                <li>Designed and implemented a quality program, including audit guidelines and an appeal process,
                  improving overall accuracy and accountability.</li>
              </ul>
                <p><em></em></p>
            </div><!-- Edn Resume Item -->

            <div class="resume-item">
              <h4>Apple Inc.</h4>
              <h5>Elk Grove, CA</h5>
              <h5>2010 - 2018</h5>
              <p><em>Apple Purchase Validation Trainer</em></p>
              <ul>
                <li>Certified Apple Training Instructor, delivering New Advisor Training and supplemental sessions to
                  diverse user groups across multiple regions.</li>
                <li>Utilized Agile methodology and Kanban to develop a web-based centralized hub and database,
                  streamlining department training materials, ticketing, and scheduling processes.</li>
                <li>Successfully managed teams during manager leave periods of up to 3 months, consistently maintaining
                  exceptional performance metrics.</li>
              </ul>
            </div><!-- Edn Resume Item -->
          </div>

        </div>

      </div>

    </section><!-- /Resume Section -->

    <!-- Services Section -->
    <section id="projects" class="services section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Highlighted Projects</h2>
        <p>Below are some of the key projects I’ve contributed to, showcasing my ability to develop innovative
          solutions, lead cross-functional teams, and deliver impactful results across various industries.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-tools"></i>
              </div>
              <a href="https://www.intelex.com/v2" class="stretched-link">
                <h3>Maintelex CMMS</h3>
              </a>
              <p>Co-designed a custom CMMS Maintenance program using the Intelex framework. This project involved
                creating an asset hierarchy for tracking maintenance and costs. Users can generate requests,
                work orders, preventive maintenance, and inspections for assets. Authorized users can be assigned to
                these records, and upon completion, labor records or invoices can be attached to the respective assets.
              </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-person-rolodex"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Customer Relations Management (CRM)</h3>
              </a>
              <p>Developed a customer CRM using Google Sheets and Google AppScript to help sales reps log interactions.
                The CRM allowed users to add products of interest, provide quotes, access product specs, and view
                competitor information. Data was archived for later sales analytics. A notable feature was a script
                that drafted emails to customers with selected product information, including links and articles.
              </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-cash-coin"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Purchase Request Tool</h3>
              </a>
              <p>Developed a tool to streamline the purchasing process. It checks if the requested item is within the
                requester’s approved limit and the department's budget. If it is, the request goes to procurement; if
                not, it seeks necessary approvals before proceeding. After purchase, the cost is deducted from the
                department's budget, and the requester is notified of the tracking status and arrival.
              </p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-clipboard2-check"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Quality Assurance Matrix</h3>
              </a>
              <p>Developed a Quality Assurance scorecard using Google Sheets and AppScript for auditing customer calls.
                The scorecard linked to the call database, attaching MP3 recordings for reference. After grading,
                scores and comments were sent to the advisor and manager, and a record was saved in the master
                database.</p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-mortarboard"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Training Hub</h3>
              </a>
              <p>Designed a website to host all training curriculum for instructors and serve as a portal for
                requesting training. Utilized JavaScript to handle email communications and training satisfaction
                surveys. Later added a Kanban board and project tracker to manage the creation of new content as
                company features were rolled out. This came in handy when SOP KB articles were in development.
              </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-files"></i>
              </div>
              <a href="#" class="stretched-link">
                <h3>Label Updater</h3>
              </a>
              <p>Used Python to code a script looked at a given directory for chemical labels saved as word processor
                format, and convert them to a writable file type. The script would then use runs to look at each
                document for outdated contact information, replace the incorrect information with accurate, updated
                information, and save the document. This also incorporated VBA and Macros.
              </p>
              <a href="#" class="stretched-link"></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

    <!-- Stats Section -->
    <section id="stats" class="stats section accent-background">

      <img src="static/assets//img/code_splash.jpg" alt="" data-aos="fade-in">

      <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

        <div class="container section-title" data-aos="fade-up">
        <h2>Let's Collab!</h2>
        <p>Looking for professional, high-quality web dev services at an amazing rate? Let's chat!</p>
      </div><!-- End Section Title -->

      </div>

    </section><!-- /Stats Section -->

<!--    &lt;!&ndash; Portfolio Section &ndash;&gt;-->
<!--    <section id="portfolio" class="portfolio section">-->

<!--      &lt;!&ndash; Section Title &ndash;&gt;-->
<!--      <div class="container section-title" data-aos="fade-up">-->
<!--        <h2>Portfolio</h2>-->
<!--        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>-->
<!--      </div>&lt;!&ndash; End Section Title &ndash;&gt;-->

<!--      <div class="container">-->

<!--        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">-->

<!--          <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">-->
<!--            <li data-filter="*" class="filter-active">All</li>-->
<!--            <li data-filter=".filter-app">App</li>-->
<!--            <li data-filter=".filter-product">Product</li>-->
<!--            <li data-filter=".filter-branding">Branding</li>-->
<!--            <li data-filter=".filter-books">Books</li>-->
<!--          </ul>&lt;!&ndash; End Portfolio Filters &ndash;&gt;-->

<!--          <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">-->
<!--              <img src="static/assets//img/portfolio/app-1.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 1</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/app-1.jpg" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">-->
<!--              <img src="static/assets//img/portfolio/product-1.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Product 1</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/product-1.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">-->
<!--              <img src="static/assets//img/portfolio/branding-1.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Branding 1</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/branding-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--              <img src="static/assets//img/portfolio/books-1.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Books 1</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/books-1.jpg" title="Branding 1" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">-->
<!--              <img src="static/assets//img/portfolio/app-2.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 2</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/app-2.jpg" title="App 2" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">-->
<!--              <img src="static/assets//img/portfolio/product-2.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Product 2</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/product-2.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">-->
<!--              <img src="static/assets//img/portfolio/branding-2.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Branding 2</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/branding-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--              <img src="static/assets//img/portfolio/books-2.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Books 2</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/books-2.jpg" title="Branding 2" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">-->
<!--              <img src="static/assets//img/portfolio/app-3.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>App 3</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/app-3.jpg" title="App 3" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">-->
<!--              <img src="static/assets//img/portfolio/product-3.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Product 3</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/product-3.jpg" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">-->
<!--              <img src="static/assets//img/portfolio/branding-3.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Branding 3</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/branding-3.jpg" title="Branding 2" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--            <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">-->
<!--              <img src="static/assets//img/portfolio/books-3.jpg" class="img-fluid" alt="">-->
<!--              <div class="portfolio-info">-->
<!--                <h4>Books 3</h4>-->
<!--                <p>Lorem ipsum, dolor sit amet consectetur</p>-->
<!--                <a href="static/assets//img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>-->
<!--                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End Portfolio Item &ndash;&gt;-->

<!--          </div>&lt;!&ndash; End Portfolio Container &ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->

<!--    </section>&lt;!&ndash; /Portfolio Section &ndash;&gt;-->

<!--    &lt;!&ndash; Pricing Section &ndash;&gt;-->
<!--    <section id="pricing" class="pricing section">-->

<!--      &lt;!&ndash; Section Title &ndash;&gt;-->
<!--      <div class="container section-title" data-aos="fade-up">-->
<!--        <h2>Pricing</h2>-->
<!--        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>-->
<!--      </div>&lt;!&ndash; End Section Title &ndash;&gt;-->

<!--      <div class="container" data-aos="fade-up" data-aos-delay="100">-->

<!--        <div class="row gy-4 gx-lg-5">-->

<!--          <div class="col-lg-6">-->
<!--            <div class="pricing-item d-flex justify-content-between">-->
<!--              <h3>Portrait Photography</h3>-->
<!--              <h4>$160.00</h4>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--          <div class="col-lg-6">-->
<!--            <div class="pricing-item d-flex justify-content-between">-->
<!--              <h3>Fashion Photography</h3>-->
<!--              <h4>$300.00</h4>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--          <div class="col-lg-6">-->
<!--            <div class="pricing-item d-flex justify-content-between">-->
<!--              <h3>Sports Photography</h3>-->
<!--              <h4>$200.00</h4>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--          <div class="col-lg-6">-->
<!--            <div class="pricing-item d-flex justify-content-between">-->
<!--              <h3>Still Life Photography</h3>-->
<!--              <h4>$120.00</h4>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--          <div class="col-lg-6">-->
<!--            <div class="pricing-item d-flex justify-content-between">-->
<!--              <h3>Wedding Photography</h3>-->
<!--              <h4>$500.00</h4>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--          <div class="col-lg-6">-->
<!--            <div class="pricing-item d-flex justify-content-between">-->
<!--              <h3>Photojournalism</h3>-->
<!--              <h4>$200.00</h4>-->
<!--            </div>-->
<!--          </div>&lt;!&ndash; End Pricing Item &ndash;&gt;-->

<!--        </div>-->

<!--      </div>-->

<!--    </section>&lt;!&ndash; /Pricing Section &ndash;&gt;-->

<!--    &lt;!&ndash; Faq Section &ndash;&gt;-->
<!--    <section id="faq" class="faq section">-->

<!--      <div class="container">-->

<!--        <div class="row gy-4">-->

<!--          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">-->
<!--            <div class="content px-xl-5">-->
<!--              <h3><span>Frequently Asked </span><strong>Questions</strong></h3>-->
<!--              <p>-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit-->
<!--              </p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">-->

<!--            <div class="faq-container">-->
<!--              <div class="faq-item faq-active">-->
<!--                <h3><span class="num">1.</span> <span>Non consectetur a erat nam at lectus urna duis?</span></h3>-->
<!--                <div class="faq-content">-->
<!--                  <p>Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.</p>-->
<!--                </div>-->
<!--                <i class="faq-toggle bi bi-chevron-right"></i>-->
<!--              </div>&lt;!&ndash; End Faq item&ndash;&gt;-->

<!--              <div class="faq-item">-->
<!--                <h3><span class="num">2.</span> <span>Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?</span></h3>-->
<!--                <div class="faq-content">-->
<!--                  <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>-->
<!--                </div>-->
<!--                <i class="faq-toggle bi bi-chevron-right"></i>-->
<!--              </div>&lt;!&ndash; End Faq item&ndash;&gt;-->

<!--              <div class="faq-item">-->
<!--                <h3><span class="num">3.</span> <span>Dolor sit amet consectetur adipiscing elit pellentesque?</span></h3>-->
<!--                <div class="faq-content">-->
<!--                  <p>Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis</p>-->
<!--                </div>-->
<!--                <i class="faq-toggle bi bi-chevron-right"></i>-->
<!--              </div>&lt;!&ndash; End Faq item&ndash;&gt;-->

<!--              <div class="faq-item">-->
<!--                <h3><span class="num">4.</span> <span>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</span></h3>-->
<!--                <div class="faq-content">-->
<!--                  <p>Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.</p>-->
<!--                </div>-->
<!--                <i class="faq-toggle bi bi-chevron-right"></i>-->
<!--              </div>&lt;!&ndash; End Faq item&ndash;&gt;-->

<!--              <div class="faq-item">-->
<!--                <h3><span class="num">5.</span> <span>Tempus quam pellentesque nec nam aliquam sem et tortor consequat?</span></h3>-->
<!--                <div class="faq-content">-->
<!--                  <p>Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in</p>-->
<!--                </div>-->
<!--                <i class="faq-toggle bi bi-chevron-right"></i>-->
<!--              </div>&lt;!&ndash; End Faq item&ndash;&gt;-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

<!--    </section>&lt;!&ndash; /Faq Section &ndash;&gt;-->

    <!-- Testimonials Section -->
<!--    <section id="testimonials" class="testimonials section accent-background">-->

<!--      <img src="static/assets//img/testimonials-bg.jpg" class="testimonials-bg" alt="">-->

<!--      <div class="container" data-aos="fade-up" data-aos-delay="100">-->

<!--        <div class="swiper init-swiper">-->
<!--          <script type="application/json" class="swiper-config">-->
<!--            {-->
<!--              "loop": true,-->
<!--              "speed": 600,-->
<!--              "autoplay": {-->
<!--                "delay": 5000-->
<!--              },-->
<!--              "slidesPerView": "auto",-->
<!--              "pagination": {-->
<!--                "el": ".swiper-pagination",-->
<!--                "type": "bullets",-->
<!--                "clickable": true-->
<!--              }-->
<!--            }-->
<!--          </script>-->
<!--          <div class="swiper-wrapper">-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-item">-->
<!--                <img src="static/assets//img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">-->
<!--                <h3>Saul Goodman</h3>-->
<!--                <h4>Ceo &amp; Founder</h4>-->
<!--                <div class="stars">-->
<!--                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                </div>-->
<!--                <p>-->
<!--                  <i class="bi bi-quote quote-icon-left"></i>-->
<!--                  <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>-->
<!--                  <i class="bi bi-quote quote-icon-right"></i>-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-item">-->
<!--                <img src="static/assets//img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">-->
<!--                <h3>Sara Wilsson</h3>-->
<!--                <h4>Designer</h4>-->
<!--                <div class="stars">-->
<!--                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                </div>-->
<!--                <p>-->
<!--                  <i class="bi bi-quote quote-icon-left"></i>-->
<!--                  <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>-->
<!--                  <i class="bi bi-quote quote-icon-right"></i>-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-item">-->
<!--                <img src="static/assets//img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">-->
<!--                <h3>Jena Karlis</h3>-->
<!--                <h4>Store Owner</h4>-->
<!--                <div class="stars">-->
<!--                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                </div>-->
<!--                <p>-->
<!--                  <i class="bi bi-quote quote-icon-left"></i>-->
<!--                  <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>-->
<!--                  <i class="bi bi-quote quote-icon-right"></i>-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-item">-->
<!--                <img src="static/assets//img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">-->
<!--                <h3>Matt Brandon</h3>-->
<!--                <h4>Freelancer</h4>-->
<!--                <div class="stars">-->
<!--                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                </div>-->
<!--                <p>-->
<!--                  <i class="bi bi-quote quote-icon-left"></i>-->
<!--                  <span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>-->
<!--                  <i class="bi bi-quote quote-icon-right"></i>-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--            <div class="swiper-slide">-->
<!--              <div class="testimonial-item">-->
<!--                <img src="static/assets//img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">-->
<!--                <h3>John Larson</h3>-->
<!--                <h4>Entrepreneur</h4>-->
<!--                <div class="stars">-->
<!--                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>-->
<!--                </div>-->
<!--                <p>-->
<!--                  <i class="bi bi-quote quote-icon-left"></i>-->
<!--                  <span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>-->
<!--                  <i class="bi bi-quote quote-icon-right"></i>-->
<!--                </p>-->
<!--              </div>-->
<!--            </div>&lt;!&ndash; End testimonial item &ndash;&gt;-->

<!--          </div>-->
<!--          <div class="swiper-pagination"></div>-->
<!--        </div>-->

<!--      </div>-->

<!--    </section>&lt;!&ndash; /Testimonials Section &ndash;&gt;-->

    <!-- Contact Section -->
    <section id="contact" class="contact section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>I would love the opportunity to help out and have mutual success!</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="info-wrap" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-5">

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Address</h3>
                  <p>6891 Steamboat Way, Sacramento CA</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Call or Text Me</h3>
                  <p>+1 (916) 668-0654</p>
                </div>
              </div>
            </div><!-- End Info Item -->

            <div class="col-lg-4">
              <div class="info-item d-flex align-items-center">
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email Me</h3>
                  <p>jared_ward@icloud.com</p>
                </div>
              </div>
            </div><!-- End Info Item -->

          </div>
        </div>

        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form><!-- End Contact Form -->

      </div>

    </section><!-- /Contact Section -->

  </main>

  <footer id="footer" class="footer accent-background">

    <div class="container">
      <div class="copyright text-center ">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">DevFolio</strong> <span>All Rights Reserved</span></p>
      </div>
      <div class="social-links d-flex justify-content-center">
        <a href="https://github.com/iLL57?tab=repositories"><i class="bi bi-github"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jared-ward-3293b6107/"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets//vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets//vendor/php-email-form/validate.js"></script>
  <script src="static/assets//vendor/aos/aos.js"></script>
  <script src="static/assets//vendor/typed.js/typed.umd.js"></script>
  <script src="static/assets//vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets//vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets//vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets//vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/assets//vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets//vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/assets//js/main.js"></script>

</body>

</html>